* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    border: 1px solid red;
    grid-row: 1 / 4;

    display: grid;
    gap: 50px;
}

.topbar {
    border: 1px solid green;
    grid-column: 2 / 3;
}

.actionbar {
    border: 1px solid blue;
    grid-row: 2 / 3;
}

.main {
    border: 1px solid magenta;
    grid-column: 2 / 3;
}