* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 7fr;
}

/* Sidebar CSS */
.sidebar {
    border: 1px solid red;
    grid-row: 1 / 6;
    background-color: #1992d4;
    color: white;
    font-weight: bold;
}

.sidebar ul {
    list-style: none;
}

.menu, .account-setting {
    padding-left: 40px;
    margin-bottom: 50px;
}

.sidebar-title {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 50px;

    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    gap: 10px;
}

.dashboard-logo {
    width: 50px;
}

.sidebar-title > p {
    font-size: 28px;
   justify-self: start;
}

.sidebar ul > li {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    gap: 10px;
}

.sidebar ul > li > p {
    font-size: 22px;
}

/* Topbar CSS */
.topbar {
    border: 1px solid green;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column: 2 / 3;
    
    display: grid;
    grid-template-columns: 7fr 1fr 2fr;
    align-items: center;
    gap: 20px;
}

.search {

    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 20px;
}

.search > i {
    justify-self: end;
    align-self: center;
}

.search > input {
    width: 100%;
    height: 30px;
    border-radius: 25px;
    background-color: rgba(211, 211, 211, 0.575);
    border: none;
}

.notification {
    justify-self: end;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    gap: 20px;
}

.profile > .profile-pic {
    border: 1px solid orange;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: orange;
}

.profile > p {
    font-size: 18px;
    font-weight: bold;
}

/* Action bar CSS */
.actionbar {
    border: 1px solid blue;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.profile-welcome {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    gap: 20px;
}

.profile-welcome > .profile-pic {
    justify-self: end;

    border: 1px solid orange;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    background-color: orange;
}

.welcome-text > p:first-child {
    font-size: 14px;
    font-weight: bold;
}

.welcome-text > p:last-child {
    font-size: 24px;
    font-weight: bold;
}

.actions {
    display: flex;
    gap: 40px;
}

.actions button{
    background-color: #1992d4;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

/* Main Section */
.main {
    border: 1px solid magenta;
    padding: 20px 10px;
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
}

.main > div {
    border: 1px solid black;
}

.main > .projects {
    grid-row: 1 / 3;
}

.card-wrappers {
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card-wrappers > .card {
    border: 1px solid red;
    min-height: 200px;
}